{% extends "sport_club_base.html" %}
{% block content %}
           <div align="center">
            <a href= "/logout/">Logout</a>
            <br>
            You are logged as: <b> {{ logged_user }} </b>
            <br>Your parent club is: <b> {{ parent_club }} </b>
           </div>
        <h2>Registred Sport Clubs:</h2>

        <ul>
            {% for club in clubs %}
            <li><a href='/club_enter/{{club.id}}'>{{club.club_name}}</a>  <a href ='/club_modify/{{club.id}}'>MODIFY</a></li>
            {% endfor %}
        </ul>

        <td><a href="{% url 'sport_club_add' %}" >Add Sport Club</a></td>
{% endblock %}