{% extends "enter_club.html" %}

{% block content2 %}


<div class="people-table-scroll" role="region" aria-label="Club members" tabindex="0">
<table class="people-table">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Manager</th>
        <th scope="col">Accountant</th>
        <th scope="col">Coach</th>
        <th scope="col">Fee paid</th>
        <th scope="colgroup" colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
{% for person in people %}
    <tr>
        <td>{{ person.1 }}</td>
        <td>{{ person.2 }}</td>
        <td>{{ person.3 }}</td>
        <td>{{ person.4 }}</td>
        <td>{{ person.5|yesno:"yes,no,maybe" }}</td>
        <td>{{ person.6|yesno:"yes,no,maybe" }}</td>
        <td>{{ person.7|yesno:"yes,no,maybe" }}</td>
        <td>{{ person.8|yesno:"yes,no,maybe" }}</td>
        <td>{% if person.9 %}<a href="{% url 'person_in_club_modify_by_id' club.id person.0 %}">Modify</a>{% endif %}</td>
        <td> <a href="{% url 'send_message' club.id person.0 %}">Send message</a></td>
    </tr>
{% endfor %}

    </tbody>
</table>
</div>


{% endblock %}
