{% extends "enter_club.html" %}
{% block content2 %}
        {% if not has_club_profile %}
        <p>Your account is not assigned to this club. You have no personal inbox here.</p>
        {% else %}
        <h4>Your messages in  Sport Club: {{club.club_name}} are following: </h4>
        <div class="messages-table-scroll" role="region" aria-label="Your messages" tabindex="0">
        <table class="messages-table">
           <thead>
           <tr>
               <th scope="col">Date posted</th>
               <th scope="col">From</th>
               <th scope="col">Message type</th>
               <th scope="col">Content</th>
           </tr>
           </thead>
           <tbody>
            {% for message in messages %}
            <tr>
                <td> {{ message.date_posted|date:"Y-m-d H:i" }} </td>
                <td> {{ message.from_who }}</td>
                <td> {{ message.get_typeOfmessage_display }}</td>
                <td class="message-content">{{ message.message|linebreaksbr }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="4">You have no messages in this club.</td></tr>
            {% endfor %}
           </tbody>
        </table>
        </div>
        {% endif %}
{% endblock %}
