{% load static %}
<!doctype html>

<html>
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
    align: center;
}

form
{
   width: 380px;
}


</style>

    <head>
        <meta charset="utf-8">

          {% load bootstrap5 %}
          {% bootstrap_css %}
          {% bootstrap_javascript %}
        <script src="{% static 'js/main.js' %}"></script> <!-- This is how to include a static file -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    </head>

    <body class="container">
        {% block title %}
            <h1>Sport Club Comunity Manager.</h1>
        {% endblock %}

        {% block content %}
        <p>
            Lorem ipsum
        </p>
        {% endblock %}

        {% block content2 %}

        {% endblock %}

        {{error_message}}
    </body>
</html>